<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>A propos</h2>
            <hr class="star-light">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <p>Passionné du web depuis ma jeunesse, je n'ai jamais cessé de créer des sites autant pour le plaisir que pour répondre à des clients. Sans cesse à l'affût des technologies émérgentes, je ne cesse de tester et "jouer" avec les dernières technologies qui ont le vent en poupe.</p>
        </div>
        <div class="col-md-4">
            <p>Vous l'aurez compris, je suis autodidacte, même si mes nombreuses expériences, en agences web comme en SSSI, m'ont permi de m'affirmer en tant que développeur web confirmé.
                <br>Je suis toujours à l'écoute du marché et de challenges alléchants !</p>
        </div>
        <div class="col-md-8 col-md-offset-2 text-center page-scroll">
            <a href="#cv" class="btn btn-md btn-outline">
                <i class=""></i> Mon CV
            </a>
        </div>
    </div>
</div>