<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Développeur web expert</h2>
            <hr class="star-primary">
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <h3>Cursus &amp; formation</h3>
            <ul>
                <li>Titulaire d'un baccalauréat S (2006) et d'un DUT Informatique (2008)</li>
                <li>Formation Symfony chez SensioLabs (2014)</li>
                <li>Formation AngularJS chez Orsys (2015)</li>
                <li>Autoformation constante et veille technologique régulière.</li>
            </ul>
        </div>
        <div class="col-md-3">
            <h3>Expérience</h3>
            <ul>
                <li ng-repeat="experience in experiences"><a href="#" ng-click="openExperience($index);" class="portfolio-link ng-binding" data-toggle="modal">{{experience.entreprise}} <span class="glyphicon glyphicon glyphicon-zoom-in" aria-hidden="true"></span></a>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>Et sinon ...</h3>
            <p>Passionné du web, je n'en délesse pas pour autant le monde réel : j'ai pour autre passion la photographie que je pratique depuis plusieurs années, le sport (running, padel, squash, ski) et j'aime écrire.</p>
        </div>
    </div>
    <h3>Compétences</h3>
    <div class="row">
        <div class="col-md-6">
            <div class="skillbox">
                <h4>Développement</h4>
                <div class="row">
                    <div class="col-md-6">
                        <h5>Frameworks</h5>
                        <ul>
                            <li>PHP : Symfony 2, Code Igniter</li>
                            <li>Javascript : jQuery, AngularJS</li>
                            <li>CSS : Bootstrap, Google Material Design</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h5>Base de données</h5>
                        <ul>
                            <li>MySQL</li>
                            <li>Oracle</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h5>Environnements</h5>
                        <ul>
                            <li>Windows (7, 8)</li>
                            <li>Linux (debian, fedora)</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h5>CMS</h5>
                        <ul>
                            <li>Wordpress</li>
                            <li>Joomla</li>
                            <li>E-monsite.com</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="skillbox">
                <h4>Langages &amp; concepts</h4>
                <div class="row">
                    <div class="col-md-6">
                        <h5>Programmation</h5>
                        <ul>
                            <li>PHP5, Javascript, HTML5, CSS3</li>
                            <li>Schéma MVC</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h5>Format de données</h5>
                        <ul>
                            <li>JSON, XML</li>
                            <li>APIs RESTful</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h5>Quality code</h5>
                        <ul>
                            <li>Tests (TU, TF, TI)</li>
                            <li>SEO Friendly</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h5>Accéssibilité</h5>
                        <ul>
                            <li>Normes W3C</li>
                            <li>Responsive design</li>
                        </ul>
                    </div>
                </div>
		<div class="row">
		    <div class="col-md-6">
		        <h5>Déploiement</h5>
			<ul>
			    <li>Docker</li>
			</ul>
		    </div>
                    <div class="col-md-6">
			<h5>Storyteller</h5>
			<ul>
			    <li>Donne confs et formations</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="skillbox">
                <h4>Travail en équipe</h4>
                <div class="row">
                    <div class="col-md-5">
                        <h5>Lead</h5>
                        <ul>
                            <li>Scrum-mastering</li>
                            <li>Méthode Agile</li>
                            <li>Cycles en V</li>
                        </ul>
                    </div>
                    <div class="col-md-7">
                        <h5>Outils de versionning</h5>
                        <ul>
                            <li>Git / GitHub</li>
                            <li>SVN</li>
                            <li>Microsoft TFS</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="skillbox">
                <h4>Solutions logicielles</h4>
                <div class="row">
                    <div class="col-md-5">
                        <h5>IDE</h5>
                        <ul>
                            <li>PHPStorm</li>
                            <li>Sublime Text lover</li>
                            <li>Aptana Studio (eclipse).</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h5>Bureautique</h5>
                        <ul>
                            <li>Suite Microsoft Office</li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h5>Créativité</h5>
                        <ul>
                            <li>Suite Adobe</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
