<div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Contact</h3>
                        <ul>
                            <li><i class="fa fa-fw fa-send"></i> contact@xavierdeneux.fr</li>
                            <li><i class="fa fa-fw fa-mobile"></i> 06.32.83.87.88</li>
                            <li><i class="fa fa-fw fa-map-marker"></i> Lyon (69) - France</li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="http://photo.xavierdeneux.fr/" class="btn-social btn-outline"><i class="fa fa-fw fa-camera"></i></a>
                            </li>
                            <li>
                                <a href="http://www.twitter.com/xavierdeneux/" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="http://fr.linkedin.com/pub/xavier-deneux/37/463/ab5/" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/xavierdeneux/" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Baigne dans le web depuis 8 ans</h3>
                        <p>Autodidacte, curieux et entrepreneur, je suis attentif aux nouvelles technologies et à tout ce qui touche de près comme de loin au grand monde du web.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">Copyright © xavierdeneux.fr - 2015</div>
                </div>
            </div>
        </div>