<div class="row">
    <div class="col-md-12 modal-body">
        <a href="" ng-click="close();"><i class="fa fa-close fa-2x pull-right"></i></a>
        <h2>{{realisation.title}}</h2>
        <hr class="star-primary">
        <div class="row">
            <div class="col-lg-6">
                <img ng-src="{{realisation.snapshot}}" class="img-responsive img-centered" alt="">
            </div>
            <div class="col-lg-6">

                <div ng-bind-html="realisation.description"></div>
                <ul class="specs">
                    <li>Site : <strong><a href="http://{{realisation.details.site}}">{{realisation.details.site}}</a></strong></li>
                    <li>Date : <strong ng-bind-html="realisation.details.date"></strong></li>
                    <li>Technos : <strong >{{realisation.details.technos}}</strong></li>
                </ul>

                <p><button type="button" class="btn btn-default center-block" ng-click="close();"><i class="fa fa-times"></i> Fermer</button></p>
            </div>
        </div>
    </div>
</div>